__pycache__/
*.py[cod]
.DS_Store
reports/
local-config.*
*.key
*.pem
*.crt
*.cer
*.db
ansible/inventory.yml
ansible/group_vars/all.yml
ansible/group_vars/vault.yml
ansible/*.retry
cloud-init/proxy-gateway.yaml
